/* Apply styles to the filters */
.filters {
  margin: 10px 0;
}

/* Apply styles to chart containers */
.chart-container {
  width: 45%;
  height: 650px; /* Adjust the container height */
  margin: 20px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.plotly-graph-div {
  width: 100%;
  height: 80%; /* Adjust the plot height */
}

.map-container {
  width: 100%;
  height: 800px; /* Adjust the container height */
  margin: 20px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
}

#fuelStation {
  width: 100%;
  height: 600px; /* Adjust the map height */
}

/* Add styles for the treemap chart */
.treemap-node {
  stroke: white;
  fill-opacity: 1;
}













