/* Apply styles to the filters */
.filters {
  margin: 20px;
}
  
.chart-container {
  width: 45%; /* Adjust the container width */
  height: 550px; /* Adjust the container height */
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
}

.plotly-graph-div {
  width: 80%; /* Adjust the plot width */
  height: 50%; /* Adjust the plot height */
}












